$text-color             : #bbb;
$highlight-color        : #fff;
$link-color             : #555; //#DDB313;
$link-hover-color       : #00CC00;

$title-hover-color      : #00CC00;

$home-title-color       : #e5e5e5;
$home-intro-color       : #e5e5e5;

$section-title-color    : #e5e5e5;
$subsection-title-color : #e5e5e5; 


